:root {
    --navyBlue: #4b4276;
}

.card {
    width: 25rem;
}

.card-header, .navbar, .btn-navy, .footer {
    background-color: var(--navyBlue);
}

.cover {
    background-image: url('./images/cover/binary-cover.jpg');
    min-height: 50rem;
    color: white;
}

.card-img-top {
    height: 20rem;
}

.my-pill {
    background-color: var(--navyBlue);
    color:rgb(248, 244, 244);
    width: 27rem;
}

.rounded-circle {
    width: 7rem;
    height: 7rem;
}

.image-container {
    width: 25rem;
    height: 25rem;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}